@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient {
    @apply bg-gradient-to-r from-cyan-500 to-blue-500 font-bold
  }

  .tgradient {
    @apply bg-gradient-to-r from-cyan-500 to-blue-500 font-bold bg-opacity-10
  }
  
  .text-gradient{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-blue-500 font-bold
  }

  .textf-gradient{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-blue-500
  }
  .gradientotol {
    @apply bg-gradient-to-l from-cyan-500 to-blue-500 font-bold
  }



  /* .nav{
    @apply z-[9999] bg-white;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.0);  
  } */

  

  .x-line{
    @apply w-[30px] h-[4px] block my-1;
  }
}

.hamburger-active > :nth-child(1){
  @apply rotate-[34deg]
}

.hamburger-active > :nth-child(2){
  @apply scale-0
}

.hamburger-active > :nth-child(3){
  @apply -rotate-[34deg]
}


/* card */
.card {
  @apply text-justify text-white transition-all duration-500 bg-white shadow-xl dark:border-slate-700 hover:bg-cyan-500 bg-opacity-10 hover:bg-opacity-10 dark:hover:bg-opacity-0 backdrop-blur-sm hover:backdrop-blur-md rounded-3xl overflow-clip border-slate-400 dark:hover:shadow-slate-300 dark:hover:shadow-md;
}


.card-img {
  @apply duration-500 rounded-xl h-52 group-hover:border-cyan-500 brightness-75 group-hover:brightness-100 border-cyan-500 group-hover:transition-all group-hover:duration-500 overflow-clip;
}

.card-link {
  @apply flex flex-wrap justify-between px-4 py-3 mx-4 transition-all duration-500 dark:border-slate-700 shadow-md cursor-pointer group-hover:border-cyan-500 overflow-clip bg-cyan-200 bg-opacity-10 hover:bg-opacity-25 rounded-xl;
}

.nav-fixed{
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}