@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient {
    @apply bg-gradient-to-r from-cyan-500 to-blue-500 font-bold
  }

  .tgradient {
    @apply bg-gradient-to-r from-cyan-500 to-blue-500 font-bold bg-opacity-10
  }
  
  .text-gradient{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-blue-500 font-bold
  }
  .gradientotol {
    @apply bg-gradient-to-l from-cyan-500 to-blue-500 font-bold
  }

  .nav-fixed{
    @apply bg-white z-50;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.0);  
  }

  .nav{
    @apply bg-white z-50;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.0);  
  }

  

  .x-line{
    @apply w-[30px] h-[4px] block my-1;
  }
}

.hamburger-active > :nth-child(1){
  @apply rotate-[34deg]
}

.hamburger-active > :nth-child(2){
  @apply scale-0
}

.hamburger-active > :nth-child(3){
  @apply -rotate-[34deg]
}

body{
  height: 2000px;
}

/* card */
.card {
  @apply bg-white text-justify hover:bg-cyan-500 bg-opacity-10 hover:bg-opacity-10 backdrop-blur-sm hover:backdrop-blur-md rounded-3xl border transition-all duration-500 shadow-xl hover:bg-gradient-to-r from-cyan-100 to-blue-100  text-white overflow-clip;
}

.card-img {
  @apply rounded-xl h-52 duration-500 group-hover:border-cyan-500 brightness-75 group-hover:brightness-100 border-cyan-500 group-hover:transition-all group-hover:duration-500 overflow-clip;
}

.card-link {
  @apply flex justify-between border group-hover:border-cyan-500 flex-wrap px-4 py-3 overflow-clip bg-cyan-200 bg-opacity-10 hover:bg-opacity-25 transition-all duration-500 rounded-xl mx-4 cursor-pointer shadow-md;
}